{% extends 'layout.html' %}

{% block content %}
  <div class="container">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
  </div>
{% endblock %}

{% block collections %}
  <h2>Collections</h2>
  <div class="collections">
        {% for coll in collections.collections %}
           <h3>{{coll.title}}&nbsp;({{coll.id}})</h3>
           <br/>
           {{coll.description}}
           <h4>CRS</h4>
           {% for crs in coll.crs%}
           {{crs}}
           {% endfor %}
           <h4>Links</h4>
           {% for link in coll.links %}
             {{link.rel}} = <a href="{{link.href}}">{{link.title}}</a>&nbsp;({{link.type}})
             <br/>
           {% endfor %}
        {% endfor %}
  </div>
{% endblock %}

{% block links %}
<h2>Links</h2>
  <div class="links">
     <nav>
        {% for link in collections.links %}
           {{link.rel}} = <a href="{{link.href}}">{{link.title}}</a> ({{link.type}})
           </p>
        {% endfor %}
     </nav>
  </div>
{% endblock %}

{% block json %}
  <div id="jsonContainer" class="jsonContainer">
      <script>
         renderjson.set_show_to_level(3);
         renderjson.set_icons("+", "-");
         document.getElementById("jsonContainer").appendChild(renderjson({{collections|tojson}}));
      </script>
  </div>
{% endblock %}
