{% extends 'layout.html' %}

{% block content %}
  <div class="container">
      <h1>{{root.title}}</h1>
      <p>{{root.description}}</p>
  </div>

{% endblock %}

{% block links %}
  <div class="links">
     <nav>
        {% for link in root.links %}
           {{link.rel}} = <a href={{link.href}}>{{link.title}}</a>
           ({{link.type}})
           <br/>
        {% endfor %}
     </nav>
  </div>
{% endblock %}
{% block json %}
  <div id="jsonContainer" class="jsonContainer">
      <script>
         renderjson.set_show_to_level(3);
         renderjson.set_icons("+", "-");
         document.getElementById("jsonContainer").appendChild(renderjson({{root|tojson}}));
      </script>
  </div>
{% endblock %}
