*
!compile.sh
!runtests_deprecated.sh
!runtests_psql.sh
!CMakeLists.txt
!Docker/adaguc-server-config-python-postgres.xml
!Docker/start.sh
!Docker/adaguc-server-*.sh
!Docker/baselayers.xml
!Docker/run_supervisord.sh
!Docker/pgbouncer/
!Docker/supervisord/
!requirements.txt
!requirements-dev.txt
!adagucserverEC/
!CCDFDataModel/
!cmake/
!data/
!hclasses/
!scripts/
!python/
!tests/AdagucTests/
!tests/expectedoutputs/
!tests/inspiretests/
!tests/functional_test.py
!tests/starttests.sh
!tests/starttests_psql.sh
