*
!compile.sh
!runtests.sh
!CMakeLists.txt
!Docker/adaguc-server-config-python-postgres.xml
!Docker/start.sh
!Docker/adaguc-server-*.sh
!Docker/baselayers.xml
!requirements.txt
!adagucserverEC/
!CCDFDataModel/
!cmake/
!data/
!hclasses/
!python/
!tests/
