# Eclipse
**/.project
**/.classpath
**/.settings
**/target

# IntelliJ
.idea
*.iml

# Git itself
# Comment .gitignore only when introducing the file.
# After that, Git knows the file, and all other .gitignore files can be ignored.
**/.gitignore
/target/
.DS_Store
.tags

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Other binaries
CCDFDataModel/anydump
CCDFDataModel/testccdfdatamodel
adagucserverEC/adagucserver
adagucserverEC/aggregate_dim
adagucserverEC/aggregate_time
adagucserverEC/geojsondump
adagucserverEC/h5ncdump
bin/*
cmake-build-debug/*
cmake-build-release/*

#Python pyc files
*.pyc
.python-version

#Sqlite files
*db
*result.png*

#Test results
tests/log
tests/tmp
tests/testresults/*
tests/test.db

Docker/adaguc-server.dockerimage

hclasses/test

# GitHub pages/Gitbook output should only be committed on gh-pages branch.
doc/_book

# Tag files, gdb history files
TAGS
.gdb_history
tests/core*

Docker/cert
Docker/.env
Docker/letsencrypt
Docker/keystore.jks

.vscode

adaguc-services
adaguc-services.log


data/python/env
data/python/adaguc.egg-info/
data/python/adaguc_knmi.nl.egg-info/
data/python/adaguc_server.egg-info/
data/python/adagucserver.egg-info/
data/python/env/
data/python/dist/
python/lib/dist
*.pytest_cache*
*__pycache__*
Testing

.cmake
*/.cmake
*CMakeFiles*

build
adaguc.egg-info
env
venv
dist

tests/checker_report.txt

.vscode
.log.txt.kate-swp

core-adagucserver

hclasses/CMakeLists.txt
hclasses/testhclasses

*CMakeCache.txt*
*CTestTestfile.cmake*
*Makefile*
*cmake_install.cmake*
core-adagucserver*
data/datasets/arcus_multivar/uwcw_ha43_dini_testfile_multivar_5x6_clean.nc
tests/env_checker_report.txt
