# Eclipse
**/.project
**/.classpath
**/.settings
**/target

# IntelliJ
.idea
*.iml

# Git itself
# Comment .gitignore only when introducing the file.
# After that, Git knows the file, and all other .gitignore files can be ignored.
**/.gitignore
/target/
.DS_Store
.tags

# Ignore the radardisplay.log file which is created during RadarDisplay smoke test.
radardisplay.log
