chardet
lxml
werkzeug
netCDF4
Pillow
gunicorn
uvicorn
pytest
marshmallow
owslib
pyproj
apispec
apispec-webframeworks
marshmallow-oneofschema
defusedxml
fastapi
httpx
Jinja2
geojson-pydantic
cachetools>=5.2.1
pytz
geomet
covjson-pydantic
brotli-asgi
