# Generate dev_requirements.txt using:
# pip-compile --upgrade --no-emit-index-url requirements-dev.in
# Install normal+dev dependencies using:
# pip-sync requirements.txt requirements-dev.txt

-c requirements.txt
black~=26.5.1
deepdiff~=9.1.0
isort~=8.0.1
pre-commit~=4.6.0
pylint~=4.0.5
pytest~=9.0.3
pytest-asyncio~=1.4.0
psycopg2~=2.9.12