# Generate requirements.txt using:
# pip-compile --upgrade --no-emit-index-url
# Install using:
# pip-sync

aiocache~=0.12.3
APScheduler~=3.11.2
Brotli~=1.2.0
Jinja2~=3.1.6
OWSLib~=0.29.2
Pillow~=12.3.0
asgi-logger~=0.1.0
brotli-asgi~=1.6.0
cachetools~=7.1.4
cftime~=1.6.5
chardet~=7.4.3
defusedxml~=0.7.1
fastapi~=0.136.3
geojson-pydantic~=1.0
gunicorn~=26.0
httpx~=0.28.1
lxml~=6.1.1
netCDF4~=1.7.4
numpy~=2.4.6
pydantic~=2.6
pytz~=2026.2
uvicorn~=0.48.0
covjson-pydantic~=0.5.0
geomet~=1.1.0
edr-pydantic~=0.5.0
redis~=7.4.0
python-dateutil~=2.9.0
click~=8.1.8
