# Generate dev_requirements.txt using:
# pip-compile --upgrade --no-emit-index-url requirements-dev.in
# Install normal+dev dependencies using:
# pip-sync requirements.txt requirements-dev.txt

-c requirements.txt
black~=24.3
deepdiff~=8.6.1
isort~=5.12
pylint~=2.17
pytest~=7.4
pytest-asyncio~=0.23
psycopg2~=2.9.10