# Generate requirements.txt using:
# pip-compile --upgrade --no-emit-index-url
# Install using:
# pip-sync

aiocache~=0.12.2
APScheduler~=3.10.4
Brotli~=1.0
Jinja2~=3.1.5
OWSLib~=0.29.2
Pillow~=10.3
asgi-logger~=0.1.0
brotli-asgi~=1.4
cachetools~=5.3
cftime~=1.6
chardet~=5.2
defusedxml~=0.7.1
fastapi~=0.115.2
geojson-pydantic~=1.0
gunicorn~=22.0
httpx~=0.26.0
lxml~=4.9
netCDF4~=1.6
# Pin to avoid update to 2.0. NetCDF should be compatible, but cftime is not mentioned on the page:
# https://github.com/numpy/numpy/issues/26191
numpy~=1.26
pydantic~=2.6
pytz~=2023.3
uvicorn~=0.23.2
covjson-pydantic~=0.3.0
geomet~=1.0
edr-pydantic~=0.3.0
redis~=5.0
python-dateutil~=2.9.0
